#viewOptionsButton {
  background-color: blue;
  border: thin solid black;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 50%;
}

#viewOptionsLable {
  font-size: 20px;
  text-align: center;
  color: black;
}
